@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if (Model == null)
{
    <p>
        Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
    </p>
}
else
{
    ViewData["Title"] = Model.Title;
    <p class="text-center">
        <h3>@Html.Raw(Model.Title)</h3>
        <code>@Html.Raw(Model.Message)</code>
    </p>
}